<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Contenedor del perfil del usuario -->
  <div class="user-profile">
    <ion-avatar>
      <img src="assets/images/user-photo.jpg" alt="Foto del usuario">
    </ion-avatar>
    <div class="user-name">
      <h2>Nombre del Usuario</h2>
    </div>
  </div>

  <!-- Menú de opciones -->
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="create-outline"></ion-icon>
      <ion-label>Editar cuenta</ion-label>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

