<!-- src/app/tab1/tab1.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Viajes Disponibles
    </ion-title>
    <ion-buttons slot="end" [routerLink]="['/help']">
      <ion-button> 
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="!isLoading; else loading">
    <ion-list *ngIf="viajes.length > 0">
      <ion-item *ngFor="let viaje of viajes">
        <ion-label>
          <h2>{{viaje.origen}} → {{viaje.destino}}</h2>
          <p>Conductor: {{viaje.conductorNombre}}</p>
          <p>Precio: ${{viaje.costo}}</p>
          <p>Asientos disponibles: {{viaje.asientosDisponibles}}</p>
        </ion-label>
        <ion-button slot="end" (click)="tomarViaje(viaje)">
          Tomar
        </ion-button>
      </ion-item>
    </ion-list>

    <div *ngIf="viajes.length === 0" class="ion-text-center ion-padding">
      <ion-icon name="car-outline" size="large"></ion-icon>
      <p>No hay viajes disponibles en este momento</p>
    </div>
  </ng-container>

  <ng-template #loading>
    <ion-list>
      <ion-item *ngFor="let n of [1,2,3,4,5]">
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>