<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Te Llevo DUOC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- título -->
  <div class="ion-text-center">
    <ion-img
      src="assets/images/logo.png"
      alt="Logo de Te Llevo DUOC"
      class="logo">
    </ion-img>
    <h2>Crear Cuenta</h2>
  </div>

  <!-- Formulario -->
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-list>
        <ion-item>
        <ion-label position="stacked">Correo Electrónico de DUOC UC</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Ingresa tu correo"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="error-message">
        <ion-text color="danger">
          <p *ngIf="registerForm.get('email')?.errors?.['required']">El correo es requerido.</p>
          <p *ngIf="registerForm.get('email')?.errors?.['email']">Ingresa un correo válido.</p>
          <p *ngIf="registerForm.get('email')?.errors?.['notInstitutionalEmail']">Debes usar tu correo institucional (&#64;duocuc.cl).</p>
        </ion-text>
      </div>
      <ion-item>
        <ion-label position="stacked">Nombre y Apellidos</ion-label>
        <ion-input formControlName="nombre" type="text" placeholder="Ingresa tu nombre completo"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('nombre')?.errors && registerForm.get('nombre')?.touched" class="error-message">
        <ion-text color="danger">
          <p *ngIf="registerForm.get('nombre')?.errors?.['required']">El nombre es requerido.</p>
        </ion-text>
      </div>
      <div class="date-of-birth-container">
        <!-- Día -->
        <ion-item>
          <ion-label position="stacked">Día</ion-label>
          <ion-select formControlName="dia" placeholder="Día">
            <ion-select-option *ngFor="let d of days" [value]="d">{{ d }}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Mes -->
        <ion-item>
          <ion-label position="stacked">Mes</ion-label>
          <ion-select formControlName="mes" placeholder="Mes">
            <ion-select-option *ngFor="let m of months" [value]="m.value">{{ m.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Año -->
        <ion-item>
          <ion-label position="stacked">Año</ion-label>
          <ion-select formControlName="anio" placeholder="Año">
            <ion-select-option *ngFor="let y of years" [value]="y">{{ y }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <!--Error fecha nac -->
      <div *ngIf="dateOfBirthInvalid" class="error-message">
        <ion-text color="danger">
          <p>La fecha de nacimiento es inválida o incompleta.</p>
        </ion-text>
      </div>

      <!-- Contraseña -->
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Ingresa tu contraseña"></ion-input>
        <ion-icon [name]="showPassword ? 'eye' : 'eye-off'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="error-message">
        <ion-text color="danger">
          <p *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es requerida.</p>
          <p *ngIf="registerForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</p>
        </ion-text>
      </div>

      <!-- Confirmar Contraseña -->
      <ion-item>
        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirma tu contraseña"></ion-input>
        <ion-icon [name]="showConfirmPassword ? 'eye' : 'eye-off'" slot="end" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
      </ion-item>
      <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched" class="error-message">
        <ion-text color="danger">
          <p>Las contraseñas no coinciden.</p>
        </ion-text>
      </div>

    </ion-list>

    <!-- botón -->
    <div class="button-container">
      <!-- Botón de Crear Cuenta -->
      <ion-button type="submit" [disabled]="!registerForm.valid">Crear Cuenta</ion-button>
    </div>
  </form>

  <!-- Enlace a iniciar sesión -->
  <div class="ion-text-center ion-padding">
    <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión</a></p>
  </div>

</ion-content>
